[workspace]
name = "retiring-the-ruler"
authors = [
    "Katy Scott <bhklab.katyscott@gmail.com>",
    "Caryn Geady",
    "Kaitlyn Kobayashi"
]
description = "Simulation code accompanying the Retiring the Ruler: Toward a Volumetric, Multi-Lesion, Longitudinal Lens on Tumor Response paper."
license = "MIT"
channels = ["conda-forge", "bioconda"]
platforms = ["osx-arm64", "linux-64", "win-64", "osx-64"]

[environments]
quality = { features = ["quality"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }

[activation]
# convenient variables which can be used in scripts
env.CONFIG = "${PIXI_PROJECT_ROOT}/config"
env.METADATA = "${PIXI_PROJECT_ROOT}/metadata"
env.LOGS = "${PIXI_PROJECT_ROOT}/logs"
env.RAWDATA = "${PIXI_PROJECT_ROOT}/data/rawdata"
env.PROCDATA = "${PIXI_PROJECT_ROOT}/data/procdata"
env.RESULTS = "${PIXI_PROJECT_ROOT}/data/results"
env.SCRIPTS = "${PIXI_PROJECT_ROOT}/code"

[dependencies]
python = "==3.12"
ipython = "*"
ipykernel = "*"
jupyterlab = "*"
pip = "*"
numpy = ">=2.3.5,<3"
pandas = ">=2.3.3,<3"
seaborn = ">=0.13.2,<0.14"
click = ">=8.3.1,<9"
joblib = ">=1.5.2,<2"
tqdm = ">=4.67.1,<5"

[pypi-dependencies]
damply = ">=0.10.0, <0.11"
stats = ">=0.1.2a0, <0.2"

[tasks]

[tasks.pipeline]
args = ["radiomic_features_filepath",
        {arg = "num_sim_patients", default='100'},
        {arg = "expected_num_lesions", default='10'},
        {arg = "location_label", default='LABEL'}
]
cmd = ["python", "$SCRIPTS/pipe.py",
        "{{ radiomic_features_filepath }}",
        "--num_sim_patients", "{{ num_sim_patients }}",
        "--expected_num_lesions", "{{ expected_num_lesions }}",
        "--location_label", "{{ location_label }}",
        ]


[tasks.pipeline-seed]
args = ["radiomic_features_filepath",
        {arg = "random_seed", default='165'},
        {arg = "num_sim_patients", default='100'},
        {arg = "expected_num_lesions", default='10'},
        {arg = "location_label", default='LABEL'},
        {arg = "parallel", default = 'False'}
]
cmd = ["python", "$SCRIPTS/pipe.py",
        "{{ radiomic_features_filepath }}",
        "--num_sim_patients", "{{ num_sim_patients }}",
        "--expected_num_lesions", "{{ expected_num_lesions }}",
        "--location_label", "{{ location_label }}",
        "--random_seed", "{{ random_seed }}",
        "--parallel", "{{ parallel }}"
        ]

############################################## QUALITY ###############################################
# Quality includes linting, type checking, and formatting
[feature.quality.dependencies]
ruff = "*"

[feature.quality.tasks]
ruff-check.cmd = ["ruff", "check"]
ruff-check.inputs = ["config/ruff.toml", "workflow"]
ruff-check.description = "Run ruff check"

ruff-format.cmd = ["ruff", "format"]
ruff-format.inputs = ["config/ruff.toml", "workflow"]
ruff-format.depends-on = ["ruff-check"]
ruff-format.description = "Run ruff format, run check first"

qc.depends-on = ["ruff-format", "ruff-check"]
qc.description = "Quality check: ruff check and format"

############################################## DOCS ################################################

[feature.docs.dependencies]
mkdocs = "*"
mkdocs-include-markdown-plugin = ">=7.0.0,<8"

[feature.docs.tasks.doc-build]
cmd = "mkdocs build -f mkdocs.yaml"
description = "Build documentation with mkdocs"

[feature.docs.tasks.doc-serve]
cmd = "mkdocs serve -f mkdocs.yaml"
depends-on = ["doc-build"]
description = "Serve documentation with mkdocs, runs doc-build first"
